<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--VUE CON CDN-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

    <title>Document</title>
</head>
<body>
    <div id="app">
        <!--v-for / for-of-->
            <ul>
                <li v-for="fruta of frutas">{{fruta}}</li>
            </ul>

            <li v-for="curso of cursos">{{curso.nombre}} - {{curso.precio}}
                <span v-if="cursos.disponible === false">No hay vacantes</span>
                <span v-else>Todavia hay lugar</span>
            </li>

            <input type="text" @keyup.enter="agregarCurso" v-model="nuevosCursos">
            <button @click="agregarCurso">Agregar curso</button>
    </div>
    <script>
        const app = new Vue({
            el:'#app',
            data:{
                frutas:['manzana','banana','naranja'],
                cursos:[{nombre:'Desarrollo web', precio:1000, disponible:true},
                        {nombre:'Marketing', precio:1000, disponible:false},
                        {nombre:'React Native', precio:1000, disponible:true}],
                nuevosCursos:'',
            },
            methods:{
                agregarCurso () {
                    this.cursos.push({
                        nombre: this.nuevosCursos
                    })
                }
            }
        })
    </script>
</body>
</html>